.first_div{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS88E9w5DmhoKyd9vuQvJ4X06Zb3eJuq5wIVA&usqp=CAU");
    object-fit: cover;
}
.second_div{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsEE0XaJ1XiLlyD763SsjzIrcLaouO-Crm6A&usqp=CAU");
    object-fit: cover;
}
.third_div{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS88E9w5DmhoKyd9vuQvJ4X06Zb3eJuq5wIVA&usqp=CAU");
    object-fit: cover;
}
.fourth_div{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGlQLLcmlwuVGYltr4iFq9EOxv2ye8_u6RVg&usqp=CAU");
    object-fit: cover;
}