.login_main_div{
    display: flex;
    justify-content: center;
      margin: auto;
}
.left_cont{
    width: 20%;
    /* height: 1vh; */
    background-color: aqua;
}
.right_cont{
    width: 30%;
    background-color: blue;
}